footer {
  background: #e7e7e7;
  clear: both;
  float: left;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}
.smark-cpyright {
  float: left;
  color: #646464;
  margin-bottom: 6px;
  padding-top: 6px;
}
.swcm-img {
  float: right;
  padding-top: 6px;
}
.hidden-class {
  display: none;
}
.divDisable {
  display: none;
  position: fixed;
  z-index: 3;
  background-color: #d8d8d8;
  opacity: 0.3;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}
.cpyright {
  float: left;
}
.swcm-img {
  float: right;
}
#footer {
  margin-top: -35px;
  border-top: solid 1px #e9ebf3;
}
.full-list {
  min-height: 400px;
}
.master-dropdown {
  width: 150px;
  height: 35px;
  line-height: 1.5;
}
.navbar-nav .p-dropdown.p-dropdown-clearable .p-dropdown-label {
  padding: 3px 0px 3px 10px !important;
}
.p-dropdown-trigger .pi,
.p-dropdown-clear-icon.pi {
  font-size: 0.85rem !important;
}
.p-dropdown-trigger .pi {
  right: 1.357rem !important;
}
.p-dropdown-clear-icon.pi {
  right: 1.7rem !important;
}
.taskDropArea > div {
  height: 400px;
}
