@import url(https://fonts.googleapis.com/css?family=Muli:400,600,700);
* {
  padding: 0px;
  margin: 0px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
body {
  background-color: #f5f7ff !important;
  font-family: "Muli", sans-serif !important;
}
.wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.top-bar {
  background-color: #191f39;
  padding: 0 0;
}
.top-bar
  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 135px;
  margin-right: 7px;
  font-family: "Muli", sans-serif;
}
.top-bar .btn-light {
  color: #191f39;
  background-color: #ebebeb;
  font-size: 14px;
  font-weight: 600;
  border-color: #ebebeb;
}
.top-bar .btn-light:focus {
  outline: none;
  box-shadow: none;
}
.rt-pnl {
  margin-bottom: 0px;
  float: right;
  padding: 0 0px 0;
}
.rt-pnl li {
  list-style: none;
  display: inline-block;
}
.rt-pnl li .rt-list {
  background-color: #ebebeb;
  border-radius: 3px;
  padding: 7px 15px;
  color: #191f39;
  font-size: 14px;
  margin: 0 1px;
  font-weight: 600;
  font-family: "Muli", sans-serif;
}
.rt-pnl li .rt-list:hover img,
.rt-pnl li .rt-list:focus img,
.rt-pnl li .rt-list:active img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
.rt-pnl li .rt-list:hover,
.rt-pnl li .rt-list:focus,
.rt-pnl li .rt-list:active {
  text-decoration: none;
  background-color: #21a1de;
  cursor: pointer;
  color: #fff;
}
.rt-pnl li .user-img {
  background-color: #191f39;
  padding: 0;
}
.rt-pnl li .user-img img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 0px;
  background-color: #191f39;
}
.mid-sec {
  padding: 20px 0;
  position: relative;
}
.w-20 {
  width: 20%;
  border-right: 1px solid #ddd;
}
.w-20 h3 {
  font-size: 14px;
  margin: 0;
  font-weight: bold;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}
.full-list {
  padding: 20px 10px;
}
.block {
  padding-left: 5px;
  background-color: #21a1de;
  margin-bottom: 10px;
}
.block-box {
  padding: 5px;
  font-family: "Muli", sans-serif;
  background-color: #fff;
}
.user-heading {
  margin-top: 2px;
  margin-left: 4px;
}
.user-heading:hover {
  cursor: pointer;
  color: #21a1de;
}
.heading-tp,
.clock-tp {
  font-family: "Muli", sans-serif;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  float: left;
  margin-bottom: 2px;
}
.red-clr {
  color: #de2121;
  margin-top: 2px;
}
.green-clr {
  color: #00b900;
  margin-top: 2px;
}
.blue-clr {
  color: #21a1de;
  margin-top: 2px;
}
.clock-tp span {
  float: left;
  margin-right: 3px;
}
.clock-tp {
  font-size: 12px;
}
.description-block {
  font-size: 12px;
  margin-left: 3px;
  margin-top: 8px;
  margin-bottom: 5px;
  overflow: hidden;
  max-height: 73px;
  text-overflow: ellipsis;
  display: inline-block;
}
.assignee {
  margin-top: 3px;
}
.w-60 {
  width: 60%;
}
.w-40 {
  width: 40%;
}
.circle-box {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  color: #fff;
  background-color: #21a1de;
  font-size: 10px;
  text-align: center;
  padding: 3px 0;
  margin-left: 2px;
  margin-right: 5px;
}
.assign-name {
  font-size: 12px;
  float: left;
  font-weight: bold;
  margin-top: 1px;
}
.w-40 {
  font-size: 11px;
  font-weight: bold;
  text-align: right;
  margin-top: 2px;
}
.primery {
  margin-bottom: 5px;
}
.secondry .box-red {
  background-color: #ed1c24;
}
.close-icon-btn {
  position: absolute;
  right: 5px;
  top: 2px;
}
.close-icon-btn img {
  width: 17px;
}
.comment-box,
.comment-box-2 {
  background-color: #f8f8f8;
  padding: 4px;
}
.font12 {
  font-size: 11px;
  color: #7d7b7b;
  margin-bottom: 0;
}
.cmt-box p {
  font-size: 11px;
  margin-bottom: 0px;
}
.cmt-box p span.t-hour {
  float: right;
}
.cmt-box p span.name-cmt {
  float: left;
}
.cmt-box {
  border-bottom: 1px solid #ddd;
  padding-bottom: 2px;
}
.cmt-box:last-child {
  border-bottom: none;
}
.form-sec {
  padding-left: 4px;
  padding-left: 4px;
  padding-bottom: 4px;
  background-color: #191f39;
}
.form-blog {
  background-color: #f5f7ff;
  padding: 0px;
  padding-bottom: 20px;
  height: 100%;
}
.form-blog h2 {
  font-size: 20px;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  margin-bottom: 15px;
}
.task-inner-scroll {
  max-height: 700px;
  overflow-y: scroll;
}
.form-sec {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  margin: 52px 0px 40px 0px;
  z-index: 9;
}
.form-sec .frm {
  padding: 0 15px;
  width: 100%;
  float: left;
}
label {
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 14px;
}
.frm .form-group {
  margin-bottom: 8px;
}
.frm .form-group .p-dropdown {
  height: calc(1em + 1rem + 2px);
}
.frm .form-group .p-dropdown.p-disabled {
  background-color: #e9ecef !important;
}

.frm .form-group .p-dropdown .p-dropdown-label {
  padding: 3px 0px 3px 12px;
}
.form-control:focus {
  box-shadow: none;
}
.form-control {
  border-radius: 0px;
  font-size: 13px;
  font-family: "Muli", sans-serif;
}
textarea {
  resize: none;
}
select {
  background-color: #eeeff1 !important;
}
.ctm-btn {
  background-color: #191f39;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0px;
  border-color: transparent;
  font-weight: bold;
  margin-top: 10px;
}
.ctm-btn:hover {
  background-color: #21a1de !important;
}
.ctm-btn.btn:hover {
  background: linear-gradient(to bottom, #21a1de, #21a1de) !important;
}
.btn.btn-danger:hover {
  background: linear-gradient(to bottom, #bd2130, #bd2130) !important;
  color: #fff !important;
}
.font10 {
  font-size: 12px;
}
.plus-btn {
  width: 40px;
  height: 40px;
  border: 2px solid #191f39;
  border-radius: 50%;
  float: left;
  padding: 4px 9px;
  font-size: 20px;
  margin-top: 18px;
  background-color: #fff;
  color: #191f39;
  cursor: pointer;
}
.plus-btn:hover {
  background-color: #191f39;
  color: #fff !important;
  cursor: pointer;
}
.close-form-icon {
  width: 40px;
  height: 30px;
  background-color: #191f39;
  color: #fff !important;
  position: absolute;
  text-align: center;
  right: 15px;
  top: 10px;
  font-size: 20px;
}
.close-form-icon:hover {
  background-color: #21a1de;
  cursor: pointer;
}
.w30 {
  width: 33.33% !important;
  float: left;
  padding: 0 15px;
}
.font12 {
  font-size: 12px;
  color: #191f39;
}
.mb-15 {
  margin-bottom: 10px;
}

/* New Code Here */
.show-ipad-view {
  display: none;
}
.show-ipad-view ul {
  padding: 0 10px;
  margin-top: 15px;
}
.show-ipad-view ul li {
  padding: 0px 7px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  border-right: 1px solid #ddd;
  text-align: center;
  list-style: none;
}
.show-ipad-view ul li:last-child {
  border-right: none;
}
.st-m img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: -7px;
}
.st-m .dropdown-toggle::after {
  display: none;
}
.st-m {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  z-index: 1;
}
.st-m .dropdown-menu a {
  font-size: 13px;
}
.st-m .dropdown-menu a:last-child {
  border-bottom: none;
}
.st-m .dropdown-menu {
  left: auto !important;
  right: -5px;
  transform: none !important;
  top: 48px !important;
  padding: 0;
}
.st-m {
  display: none;
}
.show-ipad-view ul li:focus,
.show-ipad-view ul li:active,
.show-ipad-view ul li:hover {
  color: #21a1de;
}
@media screen and (max-width: 480px) {
  .plus-btn {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .m-view-st-c {
    width: 85% !important;
  }
  .m-view-st-c .select2-container {
    width: 100% !important;
  }
  .st-close-b {
    width: 15% !important;
  }
}
@media screen and (max-width: 767px) {
  .w-20,
  .rt-pnl li {
    width: 100%;
  }
  .rt-pnl li .rt-list {
    width: 100%;
    float: left;
  }
  .show-ipad-view {
    display: block;
  }
  .mid-sec {
    padding-top: 0px;
  }
  .w-20 h3 {
    display: none;
  }
  .full-list {
    padding-top: 0px;
  }
  .hide-m-v {
    display: none !important;
  }
  .st-w-100 {
    width: 100%;
    margin-top: 10px;
  }
  .st-hide {
    display: none;
  }
  .st-w-100 .form-group {
    margin-bottom: 0px;
  }
  .st-w-100 .select2-container,
  #addTaskForm .select2-container {
    width: 100% !important;
  }
  .st-cpse-in-progress,
  .st-cpse-in-qa,
  .st-cpse-completed,
  .st-cpse-accepted {
    display: none;
  }
  .form-sec {
    width: 100%;
    top: -55px;
  }
  .form-blog h2 {
    font-size: 18px;
  }
  .st-m {
    display: block !important;
  }
  .navbar-light .navbar-toggler {
    background-color: #fff;
  }
  .master-dropdown {
    width: 100% !important;
  }
  .p-dropdown-panel.p-component.master-dropdown-panel .p-inputtext {
    width: 100% !important;
  }

  .p-dropdown-panel.p-component.master-dropdown-panel
    .p-dropdown-items-wrapper {
    width: auto !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .w-20 {
    width: 100%;
  }
  .show-ipad-view {
    display: block;
  }
  .mid-sec {
    padding-top: 0px;
  }
  .w-20 h3 {
    display: none;
  }
  .st-cpse-in-progress,
  .st-cpse-in-qa,
  .st-cpse-completed,
  .st-cpse-accepted {
    display: none;
  }
  .navbar-light .navbar-toggler {
    background-color: #fff;
  }
  .full-list {
    padding-top: 0px;
  }
  .hide-m-v {
    display: none !important;
  }
  .st-m {
    display: block !important;
  }
  .form-sec {
    top: -55px;
  }
  .full-list .block {
    width: 48% !important;
    margin: 1% 1%;
  }
  .show-ipad-view ul li {
    padding: 0px 25px;
    font-size: 16px;
    margin-top: 13px;
  }
  .show-ipad-view ul li:first-child {
    padding-left: 12px;
  }
  .mid-sec {
    padding: 0px 0 20px;
    position: relative;
  }
  .st-w-100 {
    width: 100%;
    margin: 5px 0;
  }
  .st-w-100 .select2-container {
    width: 38% !important;
  }
  .st-hide {
    display: none;
  }
  .rt-pnl li .rt-list {
    width: 38%;
    float: left;
    margin: 5px 0;
  }
  .rt-pnl li .dropdown .dropdown-menu {
    width: 38.5%;
  }
  .rt-pnl li:first-child .rt-list {
    margin-top: 0px;
  }
  .rt-pnl li {
    width: 100%;
    float: left;
  }
  .master-dropdown {
    width: 38% !important;
  }
  .p-dropdown-panel.p-component.master-dropdown-panel .p-inputtext {
    width: 100% !important;
  }

  .p-dropdown-panel.p-component.master-dropdown-panel
    .p-dropdown-items-wrapper {
    width: auto !important;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .w-20 {
    width: 100%;
  }
  .w-20 .block {
    width: 32% !important;
    margin-right: 13px;
  }
  .show-ipad-view {
    display: block;
  }
  .w-20 h3 {
    display: none;
  }
  .st-cpse-in-progress,
  .st-cpse-in-qa,
  .st-cpse-completed,
  .st-cpse-accepted {
    display: none;
  }
  .show-ipad-view ul li {
    padding: 0px 32px;
    font-size: 19px;
    margin-top: 13px;
  }
  .show-ipad-view ul li:first-child {
    padding-left: 6px;
  }
  .mid-sec {
    padding: 0px 0 20px;
    position: relative;
  }
}

.form-sec.add-form-sec-left {
  padding-left: 0;
  left: 0px;
  padding-right: 4px;
  z-index: 1;
}
.st-copy-btns {
  position: absolute;
  top: 12px;
  left: 125px;
}
.task-details-collapse {
  display: none;
}
.rt-pnl li .rt-list.icon-story {
  background-color: transparent;
  color: #fff;
  padding: 0;
}
.add-form-sec-left {
  width: 450px;
}
.heading-tp-left {
  font-family: "Muli", sans-serif;
  font-weight: bold;
  font-size: 13px;
  width: 100%;
  float: left;
  margin-bottom: 2px;
  cursor: pointer;
}
.font-14 {
  font-size: 12px;
}
.open-task .btn,
.closed-task .btn {
  line-height: 16px;
}
.p-btm-1 {
  padding-bottom: 2px;
}
#filterPopup input,
#filterPopup select {
  border-radius: 4px;
  margin-left: 4px;
  font-size: 10px;
  height: 24px;
  padding: 1px 2px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}
#filterPopup input {
  width: 124px;
}
#filterPopup select {
  width: 40px;
}
#filterPopup .form-group,
#filterPopup .form-group strong {
  cursor: pointer;
}
.wd-200 {
  width: 240px;
}
.font13 {
  font-size: 13px;
  padding-left: 4px;
}
.wd-200 .form-group .btn,
#filterPopup .btn {
  padding: 1px 6px;
  width: 50px;
}
.ctm-bg-red {
  background-color: #de2121 !important;
}
.ctm-bg-green {
  background-color: #00b900 !important;
}
.ctm-bg-blue {
  background-color: #21a1de !important;
}
.st-pdng-1 {
  padding: 2px !important;
}
.st-pdng-1.dropdown-toggle::after,
.rt-pnl .dropdown-toggle::after {
  display: none;
}
.form-sec.add-form-sec-left .form-blog {
  height: 100vh;
}
.wd-200 .form-group {
  padding: 4px 0;
}
.filter-input {
  padding-right: 0px !important;
}
.filter-button {
  padding-left: 0px !important;
}
.wd-200 .form-group.active-drop-color {
  background-color: #4b4b4b;
  color: #ffff;
}
.filter-img a {
  float: right;
}
.filter-img a img {
  width: 28px;
}
.min-height {
  min-height: 60px !important;
}
.blue-background-class {
  background-color: #c8ebfb;
}
#copyAlert {
  padding: 12px 0 0 15px;
  opacity: 1;
  transition: opacity 500ms;
  color: #fff;
}
.st-copy-btns button:nth-child(2) {
  margin-left: 10px;
}
.st-copy-btns button:nth-child(2) p {
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

input:required {
  box-shadow: none !important;
}
input:invalid {
  box-shadow: none !important;
}

#filterPopup button.close {
  position: absolute;
  top: -0.1rem;
  right: 0rem;
  z-index: 10;
  display: block;
  padding: 0rem 0.25rem;
  font-size: 23px;
  cursor: pointer;
  border: 0;
}
#filterPopup button.close:focus {
  outline: 1px dotted;
  outline: none;
}

.no-record-row {
  width: 100%;
  text-align: center;
}

.sortablePlaceholder {
  margin-bottom: 6px;
  height: 100px;
  width: 100%;
  background-color: #ced4da;
  border: 1px dotted #101111;
}
