.top-bar .btn{background:linear-gradient(to bottom,#ebebeb,#ebebeb) !important;color: #000 !important;}
.top-bar .btn:hover, .navbar-nav li a:hover{background:linear-gradient(to bottom,#ebebeb,#ebebeb) !important;color: #000 !important;}
.navbar-nav li .rt-list:hover{background:linear-gradient(to bottom,#21a1de,#21a1de) !important;color: #fff !important;}
